{% extends "_base.html" %}


{% load static %}

{% block title %}О нас{% endblock title %}


{% block head %}
{% endblock head %}

{% block content %}
<div class="about">
    <div class="about__title">
        <h2>О нас</h2>
    </div>
    <div class="about__item">
        <div class="about__imgBox">
            <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
        </div>
        <p> Ден - ловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспериментировать у вас всегда ть отменить или выполнить повторно действия.
            Любая работа в продуктивность работы на всех этапах</p>
    </div>
    <div class="about__item about__item-right">
        <div class="about__imgBox about__imgBox-right">
            <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
        </div>
        <p> RedRock - ловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспериментировать у вас всегда ть отменить или выполнить повторно действия.
            Любая работа в продуктивность работы на всех этапах</p>
    </div>
</div>
<div class="contact">
    <div class="contact__title">
        <h2>Контакты</h2>
    </div>
    <div class="contact__item">
        <p>ИП: ХХХХХХХХХХХ</p>
        <p>ИНН: ХХХХХХХХХХХХ</p>
        <p>ОГРНИП: ХХХХХХХХХХХХХХ</p>
        <p>Адрес: 414000, г. Астрахань, ул. Урицкого, д.29</p>
        <p><a href="tel:+79093722772">Телефон: +7(909)372-72-72</a></p>
        <p><a href="#">Instagram: https://www.instagram.com/bar_redrock</a></p>
        <p><a href="#">Vkontakte: https://m.vk.com/bar_redrock</a></p>
    </div>
    <div class="contact__map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2753.8909932896586!2d48.0272957!3d46.3517078!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41a9058053a0f99f%3A0x2867dcf43056137a!2z0JHQsNGAIFJFRFJPQ0s!5e0!3m2!1sru!2sru!4v1582823864474!5m2!1sru!2sru" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</div>
{% endblock content %}