{% extends "_base.html" %}


{% load static %}

{% block title %}Бухашечка{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/drink.css' %}">
{% endblock head %}

{% block content %}
<div class="drink">
    <div class="drink__title">
        <h2>Карта бара</h2>
    </div>
    <div class="drink__menu">
        <h3>Алкогольные напитки</h3>
        <ul>                   <li><a href="#">Скотч</a></li>
            <li><a href="#">Виски</a></li>
            <li><a href="#">Бренди</a></li>
            <li><a href="#">Пиво</a></li>
        </ul>
        <h3>Безалкогольные напитки</h3>
        <ul>
            <li><a href="#">Сок</a></li>
            <li><a href="#">Минеральная вода</a></li>
            <li><a href="#">Кофе</a></li>
            <li><a href="#">Чай</a></li>
        </ul>
    </div>
    <div class="drink__box">
        <div class="drink__item">
            <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            <p> Johnnie Walker Red Label - ловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспериментировать у вас всегда ть отменить или выполнить повторно действия.
                Любая работа в продуктивность работы на всех этапах</p>
        </div>
        <div class="drink__item">
            <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            <p> Johnnie Walker Red Label - ловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспериментировать у вас всегда ть отменить или выполнить повторно действия.
                Любая работа в продуктивность работы на всех этапах</p>
        </div>
        <div class="drink__item">
            <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            <p> Johnnie Walker Red Label - ловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспериментировать у вас всегда ть отменить или выполнить повторно действия.
                Любая работа в продуктивность работы на всех этапах</p>
        </div>
        <div class="drink__item">
            <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            <p> Johnnie Walker Red Label - ловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспериментировать у вас всегда ть отменить или выполнить повторно действия.
                Любая работа в продуктивность работы на всех этапах</p>
        </div>
        <div class="drink__item">
            <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            <p> Johnnie Walker Red Label - ловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспериментировать у вас всегда ть отменить или выполнить повторно действия.
                Любая работа в продуктивность работы на всех этапах</p>
        </div>
        <div class="drink__item">
            <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            <p> Johnnie Walker Red Label - ловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспериментировать у вас всегда ть отменить или выполнить повторно действия.
                Любая работа в продуктивность работы на всех этапах</p>
        </div>
        <div class="drink__item">
            <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            <p> Johnnie Walker Red Label - ловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспериментировать у вас всегда ть отменить или выполнить повторно действия.
                Любая работа в продуктивность работы на всех этапах</p>
        </div>
        <div class="drink__item">
            <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            <p> Johnnie Walker Red Label - ловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспериментировать у вас всегда ть отменить или выполнить повторно действия.
                Любая работа в продуктивность работы на всех этапах</p>
        </div>
        <div class="drink__item">
            <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            <p> Johnnie Walker Red Label - ловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспериментировать у вас всегда ть отменить или выполнить повторно действия.
                Любая работа в продуктивность работы на всех этапах</p>
        </div>
        <div class="drink__item">
            <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            <p> Johnnie Walker Red Label - ловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспериментировать у вас всегда ть отменить или выполнить повторно действия.
                Любая работа в продуктивность работы на всех этапах</p>
        </div>
        <div class="drink__item">
            <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            <p> Johnnie Walker Red Label - ловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспериментировать у вас всегда ть отменить или выполнить повторно действия.
                Любая работа в продуктивность работы на всех этапах</p>
        </div>
        <div class="drink__item">
            <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            <p> Johnnie Walker Red Label - ловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспериментировать у вас всегда ть отменить или выполнить повторно действия.
                Любая работа в продуктивность работы на всех этапах</p>
        </div>
        <div class="drink__item">
            <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            <p> Johnnie Walker Red Label - ловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспериментировать у вас всегда ть отменить или выполнить повторно действия.
                Любая работа в продуктивность работы на всех этапах</p>
        </div>
        <div class="drink__item">
            <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            <p> Johnnie Walker Red Label - ловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспериментировать у вас всегда ть отменить или выполнить повторно действия.
                Любая работа в продуктивность работы на всех этапах</p>
        </div>
        <div class="drink__item">
            <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            <p> Johnnie Walker Red Label - ловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспериментировать у вас всегда ть отменить или выполнить повторно действия.
                Любая работа в продуктивность работы на всех этапах</p>
        </div>
        <div class="drink__item">
            <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            <p> Johnnie Walker Red Label - ловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспериментировать у вас всегда ть отменить или выполнить повторно действия.
                Любая работа в продуктивность работы на всех этапах</p>
        </div>
        <div class="drink__item">
            <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            <p> Johnnie Walker Red Label - ловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспериментировать у вас всегда ть отменить или выполнить повторно действия.
                Любая работа в продуктивность работы на всех этапах</p>
        </div>
        <div class="drink__item">
            <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            <p> Johnnie Walker Red Label - ловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспериментировать у вас всегда ть отменить или выполнить повторно действия.
                Любая работа в продуктивность работы на всех этапах</p>
        </div>
        <div class="drink__item">
            <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            <p> Johnnie Walker Red Label - ловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспериментировать у вас всегда ть отменить или выполнить повторно действия.
                Любая работа в продуктивность работы на всех этапах</p>
        </div>
        <div class="drink__item">
            <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            <p> Johnnie Walker Red Label - ловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспериментировать у вас всегда ть отменить или выполнить повторно действия.
                Любая работа в продуктивность работы на всех этапах</p>
        </div>
    </div>
</div>
{% endblock content %}