{% extends "_base.html" %}


{% load static %}

{% block title %}Мероприятия{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/event.css' %}">
{% endblock head %}

{% block content %}
<div class="event">
    <div class="event__title">
        <h2>Мероприятия</h2>
    </div>
    <div class="event__item">
        <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
        <h4>Международный женский день <span>Суббота 7.03</span></h4>
        <p> АУловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспериментировать у вас всегда ть отменить или выполнить повторно действия.
            Любая работа в продуктивность работы на всех этапах</p>
    </div>
    <div class="event__item">
        <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
        <h4>Международный женский день <span>Суббота 7.03</span></h4>
        <p> АУловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспериментировать у вас всегда ть отменить или выполнить повторно действия.
            Любая работа в продуктивность работы на всех этапах</p>
    </div>
    <div class="event__item">
        <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
        <h4>Международный женский день <span>Суббота 7.03</span></h4>
        <p> АУловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспериментировать у вас всегда ть отменить или выполнить повторно действия.
            Любая работа в продуктивность работы на всех этапах</p>
    </div>
</div>
{% endblock content %}