{% extends "_base.html" %}


{% load static %}

{% block title %}Мероприятия{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/event.css' %}">
{% endblock head %}

{% block content %}
<div class="event">
    <div class="event__title">
        <h2>Мероприятия</h2>
    </div>
    {% for party in party_list %}
        <div class="event__item">
            <div class="event__imgBox">
                <img src="{{ party.preview.url }}" alt="{{ party.title }}">
            </div>
            <h4>{{ party.title }}<span>{{ party.event_date }}</span></h4>
            <p>{{ party.text_before }}</p>
        </div>
    {% endfor %}
</div>
{% endblock content %}