{% extends "_base.html" %}


{% load static %}

{% block title %}Былое{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/past.css' %}">
{% endblock head %}

{% block content %}
<div class="past">
    <div class="past__title">
        <h2>Былое</h2>
    </div>
    <div class="past__content">
        <div class="past__item-main">
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-title">
                <h3> Старый Новый Год <span>11.01.2020 г</span></h3>
            </div>
        </div>
        <div class="past__item-main">
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-title">
                <h3> Старый Новый Год <span>11.01.2020 г</span></h3>
            </div>
        </div>
        <div class="past__item-main">
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-title">
                <h3> Старый Новый Год <span>11.01.2020 г</span></h3>
            </div>
        </div>
        <div class="past__item-main">
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-slave">
                <img src="{% static 'img/Screenshot_5.jpg' %}" alt="">
            </div>
            <div class="past__item-title">
                <h3> Старый Новый Год <span>11.01.2020 г</span></h3>
            </div>
        </div>
    </div>
    <div class="past__paginator">
        <ul>
            <li> <a href="#">1</a></li>
            <li> <a href="#">2</a></li>
            <li class="active"><a href="#">3</a></li>
            <li> <a href="#">4</a></li>
            <li> <a href="#">5</a></li>
        </ul>
        <a href="#" class="paginator__left"><img src="{% static 'img/arrowLeft.png' %}"></a>
        <a href="#"class="paginator__right"><img src="{% static 'img/arrowRight.png' %}"></a>
    </div>
</div>
{% endblock content %}